.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-border);
  border-radius: 16px;
  background-color: var(--color-surface);
  flex-wrap: wrap;
  padding: 24px;
  text-align: left;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.card-symbol {
  align-self: center;
  h2 {
    margin: unset;
  }
}
